.gridLayout {
  display: grid;
  padding: 0;
  margin: 0 auto;
  transition: grid-template-columns 1s ease-in-out;
  max-width: 100%;
  min-width: 100%;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 1rem 0;
  gap: 1rem 0;
}